/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

body {
  font-family: 'Assistant', sans-serif;
}

a {
  color: #00B7FF;
}

main {
  padding: 25px;
}

.navbar-dark {
  background-color: #DB0007;
  padding-left: 20px;
}

h1 {
  color: #062672;
}

.nav-link {
  color: #ffffff;
}

fieldset {
  border: none;
  margin: 5px;
}

label {
  width: 150px;
}
