/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

body {
  font-family: 'Assistant', sans-serif;
}

a {
  color: #DB0007;
}

main {
  padding: 25px;
}

.navbar-dark {
  background-color: #DB0007;
  padding-left: 20px;
}

h1, i {
  color: #062672;
  padding: 4px;
}

i:hover {
  color: #DB0007;
}

.nav-link {
  color: #ffffff;
}

fieldset {
  border: none;
  margin: 5px;
}

label {
  width: 150px;
}

thead {
  color: #fff;
  background-color: #062672;
}

#imgShowHide {
  cursor: pointer;
}